Flask
redis
celery
flower
Flask-Migrate
Flask-SQLAlchemy
Flask-CeleryExt
psycopg2-binary
watchgod
Flask-WTF
requests
flask-socketio
eventlet==0.30.2
pytest
pytest-flask
factory-boy
pytest-factoryboy
pytest-cov
Pillow
gunicorn